<% content_for :title, 'Документація' %>
<% content_for :class, 'index-page doc-page' %>
<div class="container">
	<div class="main main-raised">
		<h3 class="title">Дозвільна документація, що є підставою для проведення будівельних робіт:</h3>
		<div id="document">
			<ol>
				<li>
					<p>Рішення Черкаської міської Ради від 30.06.2005 р. за № 8-216 про відведення земельної ділянки площею 3200 кв. м, кадастровий номер 7110136400:01:013:0010, під будівництво багатоповерхового житлового будинку з вбудовано-прибудованими приміщеннями громадського призначення;</p>
				</li>
				<li>
					<p>Договір оренди землі із Черкаською міською Радою від 11.07.2005 р., який зареєстровано у Черкаській регіональній філії ДП «Центр ДЗК» при держкомземі України, про що у Державному реєстрі земель вчинено запис від 28.07.2005 р. за № 040577500112 та Акт приймання-передачі земельної ділянки від 11.07.2005 р.;</p>
				</li>
				<li>
					<p>Рішення Черкаської міської Ради від 31.05.2007 р. за № 2-648 про відведення земельної ділянки площею 8000 кв. м, кадастровий номер 7110136400:01:013:0016, під будівництво багатоповерхового житлового будинку з вбудовано-прибудованими приміщеннями громадського призначення;</p>
				</li>
				<li>
					<p>Договір оренди землі із Черкаською міською Радою від 18.06.2007 р., який зареєстровано у Черкаській регіональній філії ДП «Центр ДЗК» при держкомземі України, про що у Державному реєстрі земель вчинено запис від 20.06.2007 р. за № 040777500175 та Акт приймання-передачі земельної ділянки від 25.06.2007 р.;</p>
				</li>
				<li>
					<p>Проектна документація на будівництво розроблена Товариством з обмеженою відповідальністю «АБМК» на підставі Договору на виконання проектних робіт № 15-36 від 20.01.2016 р.;</p>
				</li>
				<li>
					<p>Експертиза проекту будівництва здійснена філією ДП «Укрдержбудекспертиза» у Черкаській обл. 03.11.2016 р., № 24-0792-16;</p>
				</li>
				<li>
					<p>Договір № ГП2610/16-1 генерального підряду на будівництво від 26.10.2016 р. з Товариством з обмеженою відповідальністю «Кенікс»;</p>
				</li>
				<li>
					<p>Дозвіл на виконання будівельних робіт, що виданий Державною архітектурно-будівельною інспекцією України 30.12.2016 р. за № ІУ 115163651801;</p>
				</li>
			</ol>
		</div>
	</div>
</div>