<div id="intro" class="header header-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
				<%= image_tag "logo.png", class: 'img-responsive' %>
			</div>
        </div>
    </div>
</div>
<div class="main main-raised">
	<section class="description container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= image_tag "description-image.jpg", class: 'image img-responsive img-rounded img-raised' %>
			</div>
			<div class="col-md-12">
				<div class="text">
					<p>Многие из нас хотя бы раз хотели начать жизнь с чистого листа, кто-то – начиная с <strong>нового</strong> года, кто-то – с понедельника… Чаще всего задуманное не приводится в исполнение или длится недолго, т.к. это достаточно сложный шаг – начать жить <strong>по-новому</strong>. Каждый под этим понимает что-то свое – некоторые имеют в виду глобальные изменения, другие хотят бросить курить, третьи – сменить работу, четвертые – изменить образ жизни и так далее. Как начать жизнь с чистого листа?</p>
					<p>Каждый из нас вырастает и живет в определенной системе ценностей и понятий, диктуемой нашим воспитанием и окружением. Сначала мы знакомимся с тем, какой мир вокруг нас и как устроены мы сами. Потом мы живем в уже сложившейся системе координат и со своими представлениями о том, что мы можем. Это рельсы, по которым, безусловно, удобно и так привычно ехать — просты, предсказуемы и безопасны. Чтобы действительно начать менять себя, мало сойти с родной колеи, нужно еще и прокладывать новый путь, выбирая его направление и понимая: это будет уже что-то другое, что-то <strong>новое</strong>, чего нам так хотелось.</p>
					<p>Кто бы не хотел начать новую жизнь в <strong>новой</strong> квартире? Ведь это так прекрасно, просыпаясь каждое утро, встречать <strong>новый</strong> день любуясь красотой вида, который открывается из окна. Река Днепр… Такое спокойное могущество… В суете наших дней так важно иметь свой островок безмятежности, чтобы забыть о всех проблемах и заботах… Так прекрасно своими руками создать уголок своей мечты для себя и своих близких.</p>
					<p><strong>Новая</strong> квартира – прекрасное начало <strong>новой</strong> истории! Мы не просто строим дома – мы создаем Ваш уют!</p>
					<p>Создайте вместе с нами <strong>Новую</strong> страницу Вашей жизни!</p>
					<p class="ps">Ваш комплекс «Новая Мытница».</p>
				</div>
			</div>
		</div>
	</section>
</div>
