        <div data-uk-parallax="{bg: '-300'}" class="intro uk-height-viewport">
            <div class="uk-container uk-container-center">
                <div class="uk-grid">
                    <div class="uk-width-2-3"></div>
                    <div class="uk-width-1-3">
                        <div id="letter-container" class="letter-container">
                            <h2>
                                <a href="#">Мы работаем без посредников.</a>
                            </h2>
                            <h2>
                                <a href="#">Мы ценим ваши деньги и время.</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc">
            <div class="uk-container uk-container-center">
                <div class="uk-grid">
                    <div class="uk-width-1-3 images uk-vertical-align">
                        <%= image_tag "building.jpg", data: {uk_scrollspy: "{cls:'uk-animation-fade', repeat: true}"}, class: 'img-responsive uk-border-circle' %>
                    </div>
                    <div class="uk-width-1-1 text">
                        <p data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">Многие из нас хотя бы раз хотели начать жизнь с чистого листа, кто-то – начиная с <strong>нового</strong> года, кто-то – с понедельника… Чаще всего задуманное не приводится в исполнение или длится недолго, т.к. это достаточно сложный шаг – начать жить <strong>по-новому</strong>. Каждый под этим понимает что-то свое – некоторые имеют в виду глобальные изменения, другие хотят бросить курить, третьи – сменить работу, четвертые – изменить образ жизни и так далее. Как начать жизнь с чистого листа?</p>
                        <p data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">Каждый из нас вырастает и живет в определенной системе ценностей и понятий, диктуемой нашим воспитанием и окружением. Сначала мы знакомимся с тем, какой мир вокруг нас и как устроены мы сами. Потом мы живем в уже сложившейся системе координат и со своими представлениями о том, что мы можем. Это рельсы, по которым, безусловно, удобно и так привычно ехать — просты, предсказуемы и безопасны. Чтобы действительно начать менять себя, мало сойти с родной колеи, нужно еще и прокладывать новый путь, выбирая его направление и понимая: это будет уже что-то другое, что-то <strong>новое</strong>, чего нам так хотелось.</p>
                        <p data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">Кто бы не хотел начать новую жизнь в <strong>новой</strong> квартире? Ведь это так прекрасно, просыпаясь каждое утро, встречать <strong>новый</strong> день любуясь красотой вида, который открывается из окна. Река Днепр… Такое спокойное могущество… В суете наших дней так важно иметь свой островок безмятежности, чтобы забыть о всех проблемах и заботах… Так прекрасно своими руками создать уголок своей мечты для себя и своих близких.</p>
                        <p data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}"><strong>Новая</strong> квартира – прекрасное начало <strong>новой</strong> истории! Мы не просто строим дома – мы создаем Ваш уют!</p>
                        <p data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">Создайте вместе с нами <strong>Новую</strong> страницу Вашей жизни!</p>
                        <p data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}" class="ps">Ваш комплекс «Новая Мытница»</p>
                    </div>
                </div>
            </div>
            <div class="uk-height-1-1 contacts">
                <div class="uk-container uk-container-center">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div class="uk-placeholder">Здесь будет карта</div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="uk-placeholder">Здесь будут контакты и ссылки на соц сети</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>