<% content_for :class, 'houses-page' %>
<div class="container">
    <div class="row">
        <% @houses.each do |house| %>
        <div class="col-md-4">
            <%= link_to house, class: disabled_check(house) do %>
                <div class="header header-primary text-center">
                    <%= content_tag(:h4, house.title, class: 'card-title') %>
                </div>
                <div class="content">
                    <%= image_tag "conception/conception3.jpg", class: 'img-responsive img-rounded img-raised' %>
                    <%= content_tag(:h4, (fa_icon "map-marker", text: house.address), class: 'house-link-address') %>
                </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>