<div class="uk-container uk-container-center">
	<div class="uk-grid">
		<div class="uk-width-1-1">
			<div class="apartament">
				<div class="apartament-image">
					<%= link_to (image_tag @ap.image.show), @ap.image_url, class: 'fancybox' %>
				</div>
			</div>
		</div>
	</div>
</div>