* {
    box-sizing: border-box;
}

body {
    background-image: asset-url("geometry-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #f5f5f5;
    font-family: $default-font;
}

h1, h2, h3, h4, h5, h6 {
    color: $text;
    font-family: $default-font;
    font-weight: 300;
    &.title {
        color: $title;
        font-family: $heading-font;
        font-weight: 700;
    }
}

a {
    transition: color .3s ease-in-out;
}

.turbolinks-progress-bar {
    display: none !important;
}

