.houses-page {
	background-image: asset-url("geometry-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
    padding-top: 115px;
    .house-link {
        text-decoration: none;
        margin-bottom: 25px;
        .header {
            .header-success {
                opacity: 0;
            }
        }
        .card-title {
            color: $white-text;
            transition: color .3s linear;
        }
        .house-link-address {
            margin: 30px 0 10px 0;
            text-align: center;
        }
        &:hover {
            .card-title {
                color: $brand-yellow;
            }
        }
    }
	footer {
		transform: translateY(100%);
	}
}

.house-page {
    background-image: asset-url("geometry-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 75px;
    .main-raised {
        margin-top: 0;
        margin-bottom: 30px;
        .house-title, .house-address {
            text-align: center;
        }
        .house-title {
            line-height: 2em;
        }
        .stat {
            @include stat-big-num();
        }
        .floor {
            h2 {
                text-align: center;
            }
        }
        .apartaments {
            margin: 20px 0;
            .card-apartaments {
                @include card-apartaments();
            }
        }
    }
}