// STICKY FOOTER
* {
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
    font-family: $default-font;
}

main {
    flex: 1;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $navbar-font;
}

a {
	transition: color .3s ease-in-out;
}

.heading {
	h1 {
		font-size: 8em;
		transform: rotate(90deg);
		text-shadow: #fff 1px 0px, #fff 1px 1px, #fff 0px 1px, #fff -1px 1px, #fff -1px 0px, #fff -1px -1px, #fff 0px -1px, #fff 1px -1px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px, #fff 0 0 3px;
	}
	margin-top: 50%;
}

//NAVBAR
.navbar {
	border-radius: 0;
	font-family: $navbar-font;
	.navbar-header {
		float: none;
		display: inline-block;
		margin: 0 10%;
		.navbar-brand {
			color: $brand-yellow;
			font-size: 22px;
		}
	}
	.navbar-nav li a {
		font-size: 16px;
		padding-top: 17px;
		padding-bottom: 17px;
	}
}

// SOCIAL CALLOUT
.social-line {
	@include social-line();
	@include social-line-big-icons();
	@include social-line-black();
	#vk-link:hover {
		color: $vkontakte-color;
	}
	#fb-link:hover {
		color: $facebook-color;
	}
	#tw-link:hover {
		color: $twitter-color;
	}
	#google-link:hover {
		color: $google-color;
	}
	#insta-link:hover {
		color: $instagram-color;
	}
}

// FOOTER
footer {
	background-color: $brand-purple;
	text-align: center;
	color: #fff;
	&.footer-big {
		h5 {
			color: $brand-yellow;
		}
	}
	.content {
		text-align: left;
	}
	.links-vertical li {
		display: block;
		margin-left: -5px;
		margin-right: -5px;

		a {
			color: #fff;
			padding: 5px;
		}
	}
	.pull-center {
		display: inline-block;
		float: none;
	}
}

// Helpers
.content-primary {
	//background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

