// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.news {
	background-image: url("news-bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}