// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-box {
	@extend .uk-panel, .uk-panel-box;
	margin: 25px 0 10px 0;
	-webkit-box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.75);
	.title {
		display: inline-block;
		height: 100px;
		width: 90%;
		float: left;
		h2 {
			margin: 15px 0 0 10px;
			a {
				vertical-align: middle;
				font-size: 1.5em;
				text-decoration: none;
				transition: .5s;
			}
		}
	}
	.post-date {
		width: 10%;
		height: 90px;
		padding: 25px 0 0 0;
		display: inline-block;
		float: left;
		span {
			display: block;
			font-family: $navbar-font;
			text-align: center;
			font-weight: 700;
		}
		span:first-child {
			font-size: 3.5em;
		}
		span:nth-child(2) {
			margin: 10px 0 0 0;
		}
	}
	.post-text {
		p {
			margin: 15% 3% 0;
			text-align: justify;
			font-size: 1.1em;
		}
	}
}