// Place all the styles related to the static_html controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// HOME PAGE
#intro {
	background-image: url("intro-bg.jpg");
	background-attachment: fixed;
	.container {
		padding-top: 30vh;
	}
}

.description {
	.image {
		margin-top: 45px;
	}
	.text {
		line-height: 1.5;
		padding: 20px;
		text-align: justify;
		font-family: 'Bad Script', cursive;
		font-size: 1.5em;
		color: $text;
		p {
			text-indent: 1.5em;
			strong {
				color: $brand-purple;
			}
		}
		p.ps {
			text-align: right;
			font-weight: bold;
		}
	}
}

// CONTACTS
#map {
	@include margin-top();
	height: 90vh;
	position: relative;
}

#our-contacts {
	position: absolute;
	left: 5%;
	top: 30%;
	width: 20%;
	.card-title {
		color: $brand-yellow;
	}
	.contact-info {
		list-style-type: none;
		li {
			font-size: 1.2em;
			margin: 10px 0;
			&:first-child {
				margin-top: 0;
			}
			.fa {
				color: $brand-info;
				display: inline-block;
				margin-right: 5px;
				text-align: center;
				width: 20px;
			}
		}
	}
}

#feedback-form {
	position: absolute;
	right: 5%;
	top: 5%;
	width: 30%;
	.card-title {
		color: $brand-yellow;
	}
	.content-danger {
		background: linear-gradient(60deg, #ef5350, #d32f2f);
	}
}
