// HOME PAGE
.index-page {
    #intro {
        height: 100vh;
        .container {
            padding-top: 30vh;
        }
    }
	.main {
		padding: 40px;
	}
	.general {
		.row {
			margin-top: 15px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 45px;
			}
		}
		hr {
			border-color: $divider-color;
			border-width: 2px;
			margin: 40px 0;
		}
		.title, .address {
			text-align: center;
		}
        .address {
            @extend .text-primary;
            margin: 70px 0;
        }
		.text {
			&:last-child {
				padding-top: 40px;
			}
			p {
				font-size: 1.4em;
				color: $text;
				margin: 0;
				line-height: 2.5;
				text-align: center;
				strong {
                    @include pearl-title();
				}
                .space {
                    cursor: pointer;
                    font-weight: 600;
                    border-bottom: 1px dashed $text;
                }
			}
		}
		.home-img-link img {
			margin: 25px 0;
		}
		.statistic {
            @include stat-big-num();
			margin-bottom: 20px;
			.title {
				margin-top: 0;
			}
		}
	}
}

.features {
	padding: 80px 0;
	.container {
		[class*="col-"] {
			border: 1px solid rgba(255, 255, 255, 0.35);
			border-top: 0;
			border-left: 0;
			&:last-child {
				border-right: 0;
			}
		}
		.row {
			&:last-child {
				[class*="col-"] {
					border-bottom: 0;
				}
			}
		}
	}
	h1 {
		color: $white-text;
		margin-bottom: 50px;
	}
	.info {
		text-align: center;
		.info-title {
			font-size: 1.8em;
			color: $white-text;
		}
		p {
			font-size: 0.9em;
			color: $white-text;
		}
	}
    .btn {
        margin: 20px 0;
    }
}

// ABOUT

.about-page {
    .intro-fireworks {
        background-image: asset-url("intro-bg-fireworks.jpg");
        background-size: cover;
        background-position: center;
        &.header-filter::after {
            background: rgba($brand-purple, .4);
        }
    }
    section {
        .main-raised {
            margin: -20px 30px -20px;
        }
        .title {
            text-align: center;
        }
        h1 {
            margin-bottom: 50px;
        }
        h3 {
            @extend .text-primary;
        }
        p {
            font-size: 1.4em;
            line-height: 2;
            text-align: center;
            strong {
                @include pearl-title();
            }
        }
        .info {
            text-align: center;
            .icon {
                @extend .text-primary;
            }
        }
        #transport-map {
            height: 90vh;
            p {
                strong {
                    @include pearl-title();
                    font-size: 1.3em;
                    display: block;
                    text-align: center;
                }
                font-size: 1.1em;
                line-height: 1.5;
                text-align: left;
            }
        }
    }
}

// CONTACTS
#map {
	@include margin-top();
	height: 90vh;
	position: relative;
}

#our-contacts, #invest-contacts {
	position: absolute;
    width: 25%;
	.card-title {
		color: $white-text;
		cursor: pointer;
	}
	.contact-info {
		list-style-type: none;
		li {
			font-size: 1.2em;
			margin: 10px 0;
			&:first-child {
				margin-top: 0;
			}
			.fa {
				color: $brand-info;
				display: inline-block;
				margin-right: 5px;
				text-align: center;
				width: 20px;
			}
		}
	}
}

#our-contacts {
    left: 5%;
    top: 15%;
}

#invest-contacts {
    right: 5%;
    top: 15%;
}

#feedback-form {
	position: absolute;
	right: 5%;
	top: 15%;
	width: 30%;
	.card-title {
		color: $brand-yellow;
	}
	.content-danger {
		background: linear-gradient(60deg, #ef5350, #d32f2f);
	}
}
