// HOME PAGE
.index-page {
    #intro {
        background-image: asset-url("intro-bg.jpg");
    }
    #complex {
        background-image: asset-url("complex-bg.jpg");
    }
    #complex-selectable {
        background-image: asset-url("complex-bg-slogan.jpg");
        background-position: top center;
	    height: 100vh;
        a.section-link {
            z-index: 100;
            polygon {
                stroke-width: 1px;
                fill: rgba(255, 255, 255, .1);
                stroke: rgba(255, 255, 255, .1);
            }
            &:hover {
                polygon {
                    stroke: $brand-purple;
                    fill: rgba($brand-purple, .3);
                }
            }
        }
    }
    #intro, #complex {
        background-position: bottom center;
        background-attachment: fixed;
        height: 100vh;
        position: relative;
        .arrow {
            animation-name: arrow-move;
            animation-duration: 1s;
            animation-delay: unset;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            position: absolute;
            bottom: 2%;
            width: 100%;
            text-align: center;
            z-index: 100;
            i {
                color: #fff;
            }
        }
        .container {
            padding-top: 30vh;
        }
        .slogan {
            font-family: $heading-font;
            font-size: 5em;
            font-weight: 600;
            color: $white-text;
            padding-top: 20vh;
            text-align: right;
            text-transform: uppercase;
            text-shadow: 0 0 10px $white-text;
            animation: slogan-glow 3s infinite ease-in-out alternate;
        }
        &.header-filter::after {
            background: rgba(0, 0, 0, 0.5)
        }
        #phone-card {
            opacity: .8;
            transform: rotateY(90deg);
            transition: transform 3s ease-out;
            h4 {
                color: #fff;
            }
            ul {
                padding: 0;
                list-style-type: none;
                li {
                    font-size: 2em;
                    font-weight: bold;
                    text-align: center;
                    &:first-child {
                        margin-bottom: 25px;
                    }
                }
            }
        }
        .offers {
            .bonus {
                margin-top: 20px;
                height: 135px;
                .content {
                    height: 100%;
                    padding: 25px 5px;
                }
                h6 {
                    text-align: center;
                    color: #fff;
                    font-weight: 700;
                }
            }
            #first {
                 background: linear-gradient(60deg,#26c6da,#0097a7);
            }
            #credit {
                background: linear-gradient(60deg,#66bb6a,#388e3c);
            }
            #discount {
                background:linear-gradient(60deg,#ffa726,#f57c00)
            }
            #lowprice {
                background: linear-gradient(60deg,#ef5350,#d32f2f)
            }

        }
    }
	.main {
		padding: 40px;
        &.main-raised {
            margin: 0 30px 0;
            opacity: .9;
            transition: margin .3s ease-in-out;
        }
	}
	.general, #commercial {
		hr {
			border-color: $divider-color;
			border-width: 2px;
			margin: 5px 0;
		}
		.title, .address {
			text-align: center;
		}
		h1.title {
			font-size: 2.8em;
		}
        .address {
            @extend .text-primary;
            margin: 25px 0;
        }
		.text {
			&:last-child {
				padding-top: 40px;
			}
			p {
				font-size: 1.4em;
				color: $text;
				margin: 0;
				line-height: 2.5;
				text-align: justify;
				strong {
                    @include pearl-title();
				}
                .space {
                    cursor: pointer;
                    font-weight: 600;
                    border-bottom: 1px dashed $text;
                }
			}
		}
		.home-img-link img {
			margin: 25px 0;
		}
		.statistic {
            @include stat-big-num();
			margin-bottom: 20px;
			.title {
				margin-top: 0;
			}
		}
        h3:not(.title) {
            @extend .text-primary;
        }
        p {
            font-size: 1.2em;
            line-height: 2;
            text-align: center;
            strong {
                @include pearl-title();
            }
        }
        .info {
            text-align: center;
            padding: 30px 0 30px;
            .icon {
                @extend .text-primary;
            }
        }
        .card-apartaments {
            @include card-apartaments();
        }
	}
}

.features {
	padding: 80px 0;
	.container {
		[class*="col-"] {
			border: 1px solid rgba(255, 255, 255, 0.35);
			border-top: 0;
			border-left: 0;
			&:last-child {
				border-right: 0;
			}
		}
		.row {
			&:last-child {
				[class*="col-"] {
					border-bottom: 0;
				}
			}
		}
	}
	h1 {
		color: $white-text;
		margin-bottom: 50px;
	}
	.info {
		text-align: center;
		.info-title {
			font-size: 1.8em;
			color: $white-text;
		}
		p {
			font-size: 0.9em;
			color: $white-text;
		}
	}
    .btn {
        margin: 20px 0;
    }
}

// ABOUT

.about-page {
    .intro-fireworks {
        background-image: asset-url("about-header.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        &.header-filter::after {
            background: rgba($brand-purple, .4);
        }
    }
    section {
        .main-raised {
            margin: -20px 30px -20px;
        }
        .title {
            text-align: center;
        }
        h1 {
            margin-bottom: 50px;
        }
        h3 {
            @extend .text-primary;
        }
        p {
            font-size: 1.4em;
            line-height: 2;
            text-align: center;
            strong {
                @include pearl-title();
            }
        }
        .info {
            text-align: center;
            .icon {
                @extend .text-primary;
            }
        }
        #transport-map {
            height: 90vh;
            p {
                strong {
                    @include pearl-title();
                    font-size: 1.3em;
                    display: block;
                    text-align: center;
                }
                font-size: 1.1em;
                line-height: 1.5;
                text-align: left;
            }
        }
    }
}

// CONTACTS
#map {
	@include margin-top();
	height: 90vh;
	position: relative;
}

#our-contacts, #invest-contacts {
	position: absolute;
    width: 25%;
	.card-title {
		color: $white-text;
		cursor: pointer;
	}
	.contact-info {
		list-style-type: none;
		li {
			font-size: 1.2em;
			margin: 10px 0;
			&:first-child {
				margin-top: 0;
			}
			.fa {
				color: $brand-info;
				display: inline-block;
				margin-right: 5px;
				text-align: center;
				width: 20px;
			}
		}
	}
}

#our-contacts {
    left: 5%;
    top: 15%;
}

#invest-contacts {
    right: 5%;
    top: 15%;
}

#feedback-form {
	position: absolute;
	right: 5%;
	top: 15%;
	width: 30%;
	.card-title {
		color: $brand-yellow;
	}
	.content-danger {
		background: linear-gradient(60deg, #ef5350, #d32f2f);
	}
}


@keyframes slogan-glow {
    0%{
        text-shadow: 0 0 5px $white-text;
    }
    100% {
        text-shadow: 0 0 40px $white-text;
    }
}

@keyframes arrow-move {
    from {
        bottom: 2%;
    }
    to {
        bottom: 4%;
    }
}