//GLOBAL
$primary-color: #0075AF;
$link-text-color: #FFFFFF;
$link-primary-color: #0288D1;
$navbar-font: 'Comfortaa', cursive;
$default-font: 'PT Sans Caption', sans-serif;

$brand-purple: #732987;
$brand-yellow: #fee109;
$text: #333;
$white-text: #eeeeee;
//SOCIAL COLORS
$facebook-color: #3b5998;
$google-color: #dd4b39;
$instagram-color: #517fa4;
$vkontakte-color: #45668e;
$twitter-color: #1da1f2;