//GLOBAL
$heading-font: 'Roboto Slab', serif;
$default-font: 'Open Sans', sans-serif;
$navbar-font: 'Philosopher', sans-serif;
$cursive-font: 'Lobster', cursive;

$brand-purple: #732987;
$bright-purple: #9c27b0;
$light-purple: #E1BEE7;
$brand-yellow: #fee109;
$accent-color: #FFC107;
$text: #212121;
$title: #3C4858;
$white-text: #eeeeee;
$divider-color: #bdbdbd;
$text-secondary: #757575;
//SOCIAL COLORS
$facebook-color: #3b5998;
$google-color: #dd4b39;
$instagram-color: #517fa4;
$vkontakte-color: #45668e;
$twitter-color: #1da1f2;