<nav class="uk-navbar">
    <div class="uk-container uk-container-center">
        <ul class="uk-navbar-nav">
            <li><a href="">Новости</a></li>
            <li><a href="">Акции</a></li>
            <li><a href="">Фото</a></li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li><a href="">Квартиры</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Блог</a></li>
            </ul>
        </div>
        <div class="uk-navbar-content uk-navbar-center"></div>
    </div>
</nav>