<header>
    <nav data-uk-sticky class="uk-navbar">
        <div class="uk-container uk-container-center">
            <ul class="uk-navbar-nav">
                <%= content_tag(:li, link_to('Новости', news_path)) %>
                <%= content_tag(:li, link_to('Акции', offers_path)) %>
                <li><a href="">Фото</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a href="">Квартиры</a></li>
                    <%= content_tag(:li, link_to('Контакты', contacts_path)) %>
                    <%= content_tag(:li, link_to('Блог', blog_path)) %>
                </ul>
            </div>
            <div class="uk-navbar-content uk-navbar-center"></div>
        </div>
    </nav>
</header>